.test {
  // blue
  background: blue;
  color: white;
}
.logo {
  width: 300px;
  margin: 50px auto 0 auto;
  height: 200px;
  background: url(../images/logo.jpg) top left no-repeat;
  background-size: 100%;


}

